/* .admin {
  display: flex;
  flex-direction: row;
  align-items: center;
} */

.navbar {
  width: 200px;
  padding-right: 30px;
}
.view {
  flex:1;
}
#admin {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 90%;
  margin: auto;
}